.postList {
  flex: 9;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 25px;
  background-color: #15202b;
}
.postList h2 {
  width: 100%;
  color: white;
  padding: 25px;
  font-size: 2rem;
  padding-left: 3rem;
}
